@model CasoEstudio2.Models.CasasModel

@{
    ViewBag.Title = "AlquilerCasas";
}

<h2>AlquilerCasas</h2>




<div>
    @Html.ActionLink("Back to List", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
